

<h3>Donors available in given location</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>BloodGroup</th>
      <th>MobileNumber</th>
      <th>Email</th>
      <th>State</th>
      <th>District</th>
      <th>Locality</th>
      
    </tr>
  </thead>

  <tbody>
    <% @donars.each do |donar|  %>
      <tr>
        <td><%= donar.name %></td>
        <td><%= donar.blood_group.name %></td>
        <td><%= donar.mobile_no %></td> 
        <td><%= donar.email %></td>
        <td><%= donar.state.name %></td>
	    <td><%= donar.district.name %></td>
	  <td>  <%= donar.locality.name %></td>

          
        </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', require_donars_search_form_path, class: "btn btn-info" %>

